<div class="z-50 w-full h-16 flex items-center bg-white gap-4 sticky top-0 justify-between">
  <a href="<%= root_path %>" class="flex items-center overflow-hidden gap-1 text-rm-primary shrink-0">
    <img src="/logo.png" class="mr-2" style="width: 40px" />
    <span class="text-md">replicate.info</span>
  </a>
  <div class="relative shrink-0 flex items-center gap-2 lg:gap-4">
    <%= link_to '', class: "gap-4 rounded bg-white hover:bg-gray-200 py-2 px-2 lg:px-4" do %>
      Pricing
    <% end %>
    <%= link_to '', class: "gap-4 rounded bg-white hover:bg-gray-200 py-2 px-2 lg:px-4" do %>
      Security
    <% end %>
    <%= link_to '', class: "rounded bg-white hidden lg:flex hover:bg-gray-200 py-2 px-4" do %>
      Use Cases
    <% end %>
    <%= link_to '', class: "flex rounded bg-white hover:bg-gray-200 py-2 px-2 lg:px-4 hidden md:inline-block" do %>
      Support
    <% end %>
  </div>
</div>