<div class="flex items-center gap-3 justify-end">
  <div class="text-[17px] font-semibold text-gray-900 signature pt-1.5">
    Jacob Comer
  </div>
  <div class="flex justify-center sm:justify-end gap-2 mt-2">
    <%= link_to 'https://linkedin.com/in/jacobcomer', target: "_blank" do %>
      <img src="/icons/linkedin.png" class="w-6 h-6 opacity-90 hover:opacity-100 transition" alt="LinkedIn" />
    <% end %>
    <%= link_to 'https://instagram.com/jacob_comer', target: "_blank" do %>
      <img src="/icons/instagram.png" class="w-6 h-6 opacity-90 hover:opacity-100 transition" alt="Instagram" />
    <% end %>
    <%= link_to 'https://jacobcomer.medium.com/write-code-faster-in-vim-c564ff9b9f6c', target: "_blank" do %>
      <img src="/icons/medium.png" class="w-6 h-6 opacity-90 hover:opacity-100 transition" alt="Medium" />
    <% end %>
    <%= link_to 'https://www.reddit.com/user/jacob_the_snacob', target: "_blank" do %>
      <img src="/icons/reddit.png" class="w-6 h-6 opacity-90 hover:opacity-100 transition" alt="Reddit" />
    <% end %>
    <%= link_to 'mailto:jacob@replicate.info', target: "_blank" do %>
      <img src="/icons/email.png" class="w-6 h-6 opacity-90 hover:opacity-100 transition" alt="Email" />
    <% end %>
  </div>
</div>
<div class="text-right mt-3 text-sm text-gray-600">
  <span class="font-semibold">Staff Engineer</span> - IAM for infra/sec market leader
</div>