<div class="flex flex-row items-top space-x-4 mb-6">
  <% @stats.each do |key, value| %>
    <div class="basis-1/6">
      <div class="border-2 border-gray-200 bg-white rounded-md">
        <div class="bg-gray-700 text-white p-3 rounded-tl-md rounded-tr-md">
          <%= key %>
        </div>
        <div class="text-center text-2xl py-8">
          <%= value %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mb-4">
  <span class="font-semibold">Trial Domains</span>: <%= Member.where(subscribed: true).pluck(:email_domain).uniq.reject(&:blank?).join(", ") %>
</div>

<% @conversations.each do |conversation| %>
    <div class="rounded-md bg-white border-2 border-gray-400 shadow mb-6">
      <% most_recent_message = conversation.messages.pluck(:created_at).sort.last %>
      <div class="p-2">
        <a href="/conversations/<%= conversation.id %>" class="text-blue-600 underline">View</a> - <a href="/conversations/<%= conversation.id %>/destroy" class="text-blue-600 underline">Delete</a> - <%= conversation.created_at.in_time_zone("America/New_York").strftime("%A - %l:%m%P") %> - <%= conversation.duration %> <%= conversation.duration > 1 ? "minutes" : "minute" %> - <%= conversation.messages.where(user_generated: true).count %> messages - <%= conversation.channel %>
      </div>

      <% conversation.messages.order(created_at: :asc).each_with_index do |m, i| %>
        <div class="border-t p-2"><span class="font-semibold"><%= m.user_generated? ? "Engineer" : "Replicate" %>:</span>&nbsp;<%= SanitizeAiContent.call(m.content).gsub("Replicate", "").gsub(HINT_LINK, "").html_safe %></div>
      <% end %>
    </div>
<% end %>