<div class="flex gap-6">
  <div>
    <div class="px-28 md:px-16 lg:px-28 xl:px-24 2xl:px-24 mb-6">
      <img class="w-full" src="/hero-left.jpg" />
    </div>
    <div class="text-xl lg:text-2xl font-medium tracking-tight">Uncover your team’s blind spots</div>
    <div class="mb-4 text-md" >
      before a random PR takes down production.
    </div>

    <%= form_for Conversation.new do |f| %>
      <div class="p-3 rounded-xl bg-gray-100">
        <div class="block text-gray-900 mb-2">
          What issue blindsided you recently?
        </div>
        <%= text_area_tag :description, "", class: 'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 border border-gray-300 outline-1 -outline-offset-1 outline-indigo-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-600 sm:text-sm', rows: 3, placeholder: 'e.g., crashed database because forgot index', tabindex: 1  %>
        <div class="mt-2">
          <a href="#" class="inline-block mr-1 rounded-md px-3 py-1 text-sm text-zinc-700 shadow-xs bg-slate-200 hover:bg-slate-300 active:bg-slate-300">Bad Rollout</a>
          <a href="#" class="mr-1 rounded-md px-3 py-1 text-sm text-zinc-700 shadow-xs bg-slate-200 hover:bg-slate-300 active:bg-slate-300 hidden lg:inline-block">Missed Deadline</a>
          <a href="#" class="mr-1 rounded-md px-3 py-1 text-sm text-zinc-700 shadow-xs bg-slate-200 hover:bg-slate-300 active:bg-slate-300 hidden lg:inline-block">Key Engineer Quit</a>
          <a href="#" class="inline-block mr-1 rounded-md px-3 py-1 text-sm text-zinc-700 shadow-xs bg-slate-200 hover:bg-slate-300 active:bg-slate-300 lg:hidden">Broke SLA</a>
          <a href="#" class="inline-block mr-1 rounded-md px-3 py-1 text-sm text-zinc-700 shadow-xs bg-slate-200 hover:bg-slate-300 active:bg-slate-300 lg:hidden">Key Hire Quit</a>
        </div>

        <div class="flex items-center gap-2 mt-4">
          <%= check_box_tag :agree, class: 'rounded-lg border border-gray-300', tabindex: 2 %>
          <label for="agree" class="text-sm cursor-pointer">I accept the <a href="/terms" class="text-blue-500 hover:underline hover:underline-offset-8">Terms</a> and <a href="/privacy" class="text-blue-500 hover:underline hover:underline-offset-8">Privacy Policy</a></label>
        </div>
      </div>

      <div class="text-center pt-4">
        <%= f.submit 'Generate My Demo', class: 'cursor-pointer rounded-md px-4 py-2 text-lg font-semibold text-white shadow-xs bg-slate-600 hover:bg-slate-700 active:bg-slate-700', tabindex: 3 %>
      </div>
    <% end %>
  </div>

  <div class="hidden md:block lg:pl-10">
    <img src="/email-screenshot.png" class="w-full rounded-lg shadow-lg" />
    <div class="mt-4 text-center text-sm">
      <span class="font-semibold">Latest Update</span> -
      <%= 1.day.ago.strftime("%B %d, %Y") %>
    </div>
  </div>
</div>

<div class="mt-12">
  <div class="text-md leading-relaxed">
    <div class="mt-4 mb-4">
      <%= link_to 'replicate.info', 'https://replicate.info', class: "text-blue-500", target: "_blank" %>
      helps engineering teams fix knowledge gaps
      <span class="font-semibold">before</span>
      they derail your roadmap.
    </div>
    <div class="mb-4">
      As a tech lead, there's always more that I want to teach my team, but never enough time. This platform digs into everyone's most critical blind spots, and delivers bite-sized resources every week to help them grow.
    </div>
    <div class="mb-4 md:hidden">
      <img src="/email-screenshot.png" class="w-full rounded-lg shadow-lg" />
    </div>
    <div class="mb-4">
      <span class="font-semibold">No accounts to create. No dashboards to manage.</span> Conversations happen automatically over email.
    </div>
    <div class="mb-4">
      Your engineers click a few personalized links, learn something impactful, and get back to their sprint work.
    </div>
    <div>
      <span class="font-semibold">Leadership gets weekly reports</span> on how the team is leveling up, along with morale trends, and risks that might justify more headcount. It's like a Principal Engineer coaching your team, surfacing high-impact growth opportunities.
    </div>
  </div>

  <div class="flex items-center gap-5 justify-end mt-6">
    <div style="padding-top: 4px">
      <img src="/jacob.jpg" style="width: 65px" class="rounded-full mb-2" />
    </div>
    <div>
      <div class="text-md mb-1.5" style="font-family: 'Homemade Apple'">Jacob Comer</div>
      <div class="flex gap-1.5">
        <%= link_to 'https://instagram.com/jacob_comer', target: "_blank" do %>
          <img src="/icons/instagram.png" style="width: 25px" />
        <% end %>
        <%= link_to 'https://linkedin.com/in/jacobcomer', target: "_blank" do %>
          <img src="/icons/linkedin.png" style="width: 25px" />
        <% end %>
        <%= link_to 'https://jacobcomer.medium.com/write-code-faster-in-vim-c564ff9b9f6c', target: "_blank" do %>
          <img src="/icons/medium.png" style="width: 25px" />
        <% end %>
        <%= link_to 'https://www.reddit.com/user/jacob_the_snacob', target: "_blank" do %>
          <img src="/icons/reddit.png" style="width: 25px" />
        <% end %>
        <%= link_to 'mailto:jacob@jacobcomer.com', target: "_blank" do %>
          <img src="/icons/email.png" style="width: 25px" />
        <% end %>
      </div>
    </div>
  </div>
</div>