<div class="flex flex-col-reverse lg:flex-row gap-8 md:gap-12 md:pt-14">
  <div class="lg:basis-[45%] w-full">
    <div class="mb-1 text-2xl font-bold tracking-[-0.008em]">
      Prevent your next postmortem.
    </div>
    <div class="mb-8 text-gray-700 ">
      I'll email personalized learning nudges to your engineers every Monday — No logins. No extra work.
    </div>

    <%= form_for Conversation.new, url: conversations_path, html: { id: "demo-form" } do |f| %>
      <div class="p-3 rounded-xl bg-gray-50 shadow border border-gray-100">
        <label for="initial_message" class="block text-gray-900 mb-3 font-medium">
          What fire did your team put out recently?
        </label>

        <%= text_area_tag :initial_message, "", class: 'block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border-2 border-gray-200 focus:border-indigo-600 focus:ring-0 placeholder:text-gray-400 sm:text-sm', rows: 3, placeholder: 'e.g., crashed DB because forgot index', tabindex: 1 %>
        <div id="terms-container" class="mt-3 text-xs text-gray-500 text-center">
          By submitting, you agree to the <a href="/terms" class="text-blue-500 hover:underline">Terms</a> and <a href="/privacy" class="text-blue-500 hover:underline">Privacy Policy</a>
        </div>
      </div>


      <div class="text-center mt-6">
        <%= f.submit 'View Coaching Example', class: 'shadow-sm hover:scale-[1.01] transition-transform hover:shadow-md tracking-[0.01em] cursor-pointer rounded-lg px-5 py-2.5 text-lg font-semibold text-white bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-800 transition', tabindex: 3 %>
      </div>
      <div class="text-center mt-4 text-sm text-gray-400">
        No logins or credit cards
      </div>
    <% end %>
  </div>

  <div class="lg:basis-[55%]">
    <img src="/hero.jpg" class="w-full rounded-lg shadow-md" />
  </div>
</div>

<div class="pb-6 md:pb-0 mt-10 lg:mt-14">
  <div class="text-md leading-relaxed tracking-[0.008em]">
    <div class="text-[17px]">

      <div class="max-w-[90ch]">
        <div class="mb-6">
          I spent 15 years of <%= link_to 'my career', 'https://linkedin.com/in/jacobcomer', target: "_blank", class: "text-sky-700 hover:text-sky-900 hover:font-medium underline underline-offset-[6px]" %> at B2B startups, and hate watching small blind spots turn into production incidents.
        </div>

        <div class="mb-4">
          <span class="font-semibold">replicate.info</span> is for EM's who want to help their teams level up with modern tech, but don't have time to manage another SaaS tool. I fed a list of <a href="#" class="text-sky-700 underline underline-offset-[6px]">knowledge gaps</a> that can tank your sprint into an LLM. It emails your engineers every Monday, and helps them consistently find impactful areas to work on next. No logins. No extra work required from you.
        </div>

        <div class="mb-4">

        </div>
      </div>
      <div class="mb-6 flex gap-4">
        <% EXAMPLE_EMAILS.each_with_index do |email, i| %>
          <div class="shadow-sm bg-transparent rounded-md md:basis-1/3 md:block <%= i > 0 ? "hidden" : "" %>">
            <div class="py-1.5 px-2.5 border border-gray-150 text-sm rounded-tl-md rounded-tr-md" style="font-family: 'Source Code Pro'; background-color: #FEFBC7">
              <div class="flex items-center justify-between">
                <div class="basis-3/4">
                  <div class="text-slate-800"><span class="font-semibold">To:</span> <%= email[:to] %></div>
                </div>

                <div class="text-right basis-1/4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 22px; display: inline-block" class="text-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="bg-neutral-50 p-2.5 border-l border-r border-gray-150 border-b rounded-bl-md rounded-br-md">
              <div class="text-slate-600">
                <span class="font-medium text-slate-800 text-base block mb-2" style="font-size: 15px"><%= email[:subject] %></span>
                <div class="text-sm"><%= email[:content] %></div>
              </div>
              <div class="mt-4">
                <a href="#" data-example="<%= email[:prompt] %>" class="text-sm example-btn font-medium transition hover:scale-[1.04] inline-block bg-slate-600 text-white rounded-md px-3 py-1.5 shadow">View the entire thread</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="max-w-[90ch]">
        <div class="mb-4">
          It costs <span class="font-semibold">$30</span>/mo (USD) per user. Your first month is free. No onboarding. Just send it your team's email addresses.
        </div>
        <div>
          Team leads get weekly reports on growth and early warning signs, so you can focus on helping the team ship faster.
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center gap-5 justify-end mt-6">
    <div style="padding-top: 4px">
      <img src="/jacob.jpg" style="width: 70px" class="rounded-full mb-2" />
    </div>
    <div>
      <div class="text-md mb-1.5 pl-1" style="font-family: 'Homemade Apple'">Jacob Comer</div>
      <div class="flex gap-1.5">
        <%= link_to 'https://instagram.com/jacob_comer', target: "_blank" do %>
          <img src="/icons/instagram.png" style="width: 28px" />
        <% end %>
        <%= link_to 'https://linkedin.com/in/jacobcomer', target: "_blank" do %>
          <img src="/icons/linkedin.png" style="width: 28px" />
        <% end %>
        <%= link_to 'https://jacobcomer.medium.com/write-code-faster-in-vim-c564ff9b9f6c', target: "_blank" do %>
          <img src="/icons/medium.png" style="width: 28px" />
        <% end %>
        <%= link_to 'https://www.reddit.com/user/jacob_the_snacob', target: "_blank" do %>
          <img src="/icons/reddit.png" style="width: 28px" />
        <% end %>
        <%= link_to 'mailto:jacob@jacobcomer.com', target: "_blank" do %>
          <img src="/icons/email.png" style="width: 28px" />
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("demo-form");

    const exampleButtons = document.querySelectorAll(".example-btn");
    const textarea = document.querySelector("textarea[name='initial_message']");
    const exampleContainer = document.getElementById("example-buttons");

    exampleButtons.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        e.preventDefault();
        textarea.value = btn.dataset.example;
        form.submit(); // Submit the form immediately
      });
    });
  });
</script>